* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-fluid .container h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    border-bottom: 5px solid rgb(211, 179, 75);
    text-align: center;
    color: white;
}


