.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: gray;
}

.card {
    border: 1px solid #120808;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff56;
    background-color: white;
}

.card h2,h3,h4,h5 {
    font-size: 20px;
    margin: 0;
}

.card p {
    margin: 10px 0;
    color: black;
}
